/* IMAGE CAROUSEL START */
button:hover {
  cursor: pointer;
}

.slidebutton {
  padding: 20px 30px;
  border-radius: 28px;
  border-style: solid;
  border-color: #1b203d;
  border-width: 2px;
  font-family: "RalewayLightBold", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  margin-top: 300px;
  opacity: 0.9;
  color: #1b203d;
  background-color: #ffffff;
  -webkit-transition: font-size 0.3s ease;
  -moz-transition: font-size 0.3s ease;
  -o-transition: font-size 0.3s ease;
  transition: font-size 0.3s ease;
  z-index: 0;
}
.slidebutton:hover {
  cursor: pointer;
  opacity: 1;
  font-size: 17px;
  font-weight: bold;
  border-width: 3px;
  font-size: 18px;
}
#slider {
  margin: 0 auto;
  width: 75%;
  height: auto;
  max-width: 100%;
  text-align: center;
}
#slider input[type="radio"] {
  display: none;
}
#slider label {
  cursor: pointer;
  text-decoration: none;
}
#slides {
  padding: 10px;
  position: relative;
  z-index: 1;
  margin-top: 15px;
}
#overflow {
  width: 100%;
  overflow: hidden;
}
#slide1:checked ~ #slides .inner {
  margin-left: 0;
}
#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}
#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 400%;
  line-height: 0;
  height: 400px;
}
#slides .slide {
  width: 25%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}
#slides .slide_1 {
  background-image: url("/images/indeximg/codmwbannercomp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#slides .slide_2 {
  background-image: url("/images/indeximg/fifabannercomp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#slides .slide_3 {
  background-image: url("/images/indeximg/cyberbannercomp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#controls {
  margin: -180px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}
#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: 0.4;
}
#controls label:hover {
  opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(1) {
  background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
  float: right;
  margin: -45px -50px 0 0;
  display: block;
}
#slide1:checked ~ #controls label:nth-last-child(1),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(2) {
  background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
  float: left;
  margin: -45px 0 0 -50px;
  display: block;
}
#bullets {
  margin: 150px 0 0;
  text-align: center;
}
#bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #ccc;
  margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3) {
  background: #444;
}
@media screen and (max-width: 750px) {
  #slides .slide_1 {
    background-image: url("/images/indeximg/codmwbannermedia.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 250px;
  }
  #slides .slide_2 {
    background-image: url("/images/indeximg/fifamediacomp.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 250px;
  }
  #slides .slide_3 {
    background-image: url("/images/indeximg/cyberpunkmediacomp.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 250px;
  }
  .slidebutton {
    margin-top: 180px;
  }
  div#bullets {
    margin-top: 25px;
  }
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg)
      no-repeat;
    float: right;
    margin: -100px -50px 0 0;
    display: block;
  }
  #slide1:checked ~ #controls label:nth-last-child(1),
  #slide2:checked ~ #controls label:nth-last-child(3),
  #slide3:checked ~ #controls label:nth-last-child(2) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg)
      no-repeat;
    float: left;
    margin: -100px 0 0 -50px;
    display: block;
  }
}

/* IMAGE CAROUSEL END */

.products {
  display: grid;
  grid-template-areas: "1 2 3 4 5 6";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
  width: calc(100%-80px);
  height: auto;
  margin-top: 15px;
}

.product {
  position: relative;
}

.product-price {
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: 700;
  font-size: 25px;
  color: #1b203d;
  letter-spacing: -1px;
  width: 100%;
}

.prodname {
  font-weight: normal;
  font-size: 20px;
  color: #1b203d;
  text-transform: none;
  font-family: "RalewayBold", sans-serif;
  margin: 0;
}

.cart {
  border: 3px solid #1b203d;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  max-width: 600px;
  min-width: 200px;
  max-height: 650px;
  padding: 20px;
  margin: auto;
  position: fixed;
  right: 50px;
  bottom: 50px;
  background-color: #fbfcff;
  font-family: "Raleway", sans-serif;
  display: none;
  z-index: 3;
  overflow-y: scroll;
}
.cartprice {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  float: right;
  color: black;
  margin: 55px 0px 0px 0px;
}

.total {
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px 0px 10px 60px;
  font-weight: bolder;
  font-size: 20px;
}
.cart h4 {
  margin: 5px 0px;
  font-weight: bolder;
}
.cart-item {
  border-bottom: 1px solid black;
  position: relative;
}
.cart-image {
  width: 50px;
  border-radius: 10px;
}
.cartheader {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
  border-bottom: #1b203d solid;
  margin-bottom: 20px;
}
.checkout {
  color: #fbfcff;
  background-color: #1b203d;
  border: solid;
  border-radius: 6px;
  font-weight: bold;
  height: 20px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  padding: 7px;
  margin: auto;
  width: 75%;
  display: block;
  text-align: center;
}

.addcart-button {
  color: #1b203d;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: #fbfcff;
  border: solid;
  border-radius: 6px;
  font-weight: bold;
  height: 50px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  width: 100%;
  margin-top: 300px;
  transition: 0.2s ease;
  position: absolute;
  bottom: -50px;
}

.addcart-button:hover {
  cursor: pointer;
  color: #fbfcff;
  background-color: #1b203d;
  border: none;
  font-size: 16px;
}
.addcart-button2 {
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  color: #1b203d;
  background-color: #fbfcff;
  border: solid;
  border-radius: 6px;
  font-weight: bold;
  height: 50px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  width: 100%;
  margin-top: 300px;
  transition: 0.2s ease;
  position: absolute;
  bottom: -50px;
}
.addcart-button2:hover {
  cursor: pointer;
  color: #fbfcff;
  background-color: #1b203d;
  border: none;
  font-size: 16px;
}
.revert-button {
  position: absolute;
  background-color: #8b0000;
  color: #fbfcff;
  border: none;
  border-radius: 4px;
  right: 1px;
}
.product img {
  width: 100%;
  height: auto;
  min-width: 100px;
}

.plusprice {
  text-transform: uppercase;
  font-family: "RalewayBold", sans-serif;
  margin: 0;
  font-size: 15px;
  color: #4e4e4e;
  letter-spacing: 0px;
  margin-top: 5px;
}

.linebreak {
  border-top: #b1b1b1;
  border-width: 2px 0px 0px 0px;
  border-style: solid;
  margin: 80px 0px 60px 0px;
  opacity: 0.7;
}

.category-products {
  display: grid;
  grid-template-areas: "1 2 3";
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  grid-gap: 40px;
  height: auto;
}

.preorders {
  grid-area: 1;
  display: flex;
  flex-direction: column;
  height: auto;
}

.nearlyNew {
  display: flex;
  flex-direction: column;
  height: auto;
}

.bestSellers {
  display: flex;
  flex-direction: column;
  height: auto;
}

.productwrap {
  display: flex;
  height: 203px;
  border-top: #b1b1b1;
  border-width: 2px 0px 0px 0px;
  border-style: solid;
  min-width: 100%;
  margin: 30px 0px;
  position: relative;
}
.productwrap:hover {
  cursor: pointer;
}
.phototag {
  float: left;
  margin-right: 15px;
  position: relative;
}

.prelabel {
  background-color: #ffab40;
  position: absolute;
  font-family: "RalewayBold", sans-serif;
  font-size: 10px;
  font-style: italic;
  color: #1b203d;
  padding: 8px 3px;
  bottom: 33px;
  right: 0px;
}

.nowrap {
  white-space: nowrap;
}

.textwrap {
  position: absolute;
  bottom: 10px;
  left: 145px;
}

span {
  text-transform: uppercase;
  font-family: "RalewayBold", sans-serif;
  display: block;
  font-size: 17px;
  color: #4e4e4e;
}
.arialprice p {
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: 700;
  font-size: 25px;
  color: #1b203d;
  letter-spacing: -1px;
  width: 100%;
}
.arialprice p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.discount {
  display: flex;
  flex-direction: row;
}

.oldprice {
  color: #4e4e4e;
  text-decoration: line-through;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 17px;
}

.percenttag {
  background-color: #ffab40;
  color: #1b203d;
  display: inline;
  padding: 2px 3px;
  border-radius: 8px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  margin-left: 10px;
  height: 20px;
}

.divider {
  height: 30px;
}

/* MEDIAQUERIES */
/* //////////////////////////// */

@media only screen and (max-width: 1400px) {
  .category-products {
    display: grid;
    grid-template-areas:
      "1"
      "2"
      "3";
    grid-template-columns: 1fr;
    width: 100%;
    grid-gap: 40px;
    height: auto;
    margin: auto;
  }
  .nowrap {
    white-space: normal;
  }
  .addcart-button2 {
    width: 50%;
  }
  .wrap {
    display: flex;
  }
  .cart {
    max-width: 100px;
  }
  .total {
    margin: 15px 0px 0px 30px;
  }
  @media only screen and (max-width: 1200px) {
    .products {
      display: grid;
      grid-template-areas:
        "1 2 3"
        "4 5 6";
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 75px 5px;
      width: 100%;
      height: auto;
    }
  }
  @media only screen and (max-width: 500px) {
    .products {
      display: grid;
      grid-template-areas:
        "1 2"
        "3 4"
        "5 6";
      grid-template-columns: 1fr 1fr;
      grid-gap: 75px 5px;
      width: 100%;
      height: auto;
    }
    .addcart-button2 {
      width: 100%;
    }
    .cart-image {
      display: none;
    }
    .revert-button {
      top: 0px;
    }
    .cart {
      width: 50px;
      right: 10px;
    }
    .cartprice {
      display: none;
    }
    .cartheader {
      font-size: 20px;
    }
    .total {
      margin: 15px 0px 10px 100px;
    }
  }
}
