.cart h4 {
  margin: 5px 0px;
  font-weight: bolder;
  text-align: left;
}
.cart-item {
  border-bottom: 1px solid black;
  position: relative;
}
.cart-image {
  width: 50px;
  border-radius: 10px;
  margin-right: 80px;
}
.cartheader {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
  border-bottom: #1b203d solid;
  margin-bottom: 20px;
}
.cart {
  border: 3px solid #1b203d;
  -webkit-box-shadow: 0 0 6px rgb(0 0 0 / 50%);
  border-radius: 6px;
  max-width: 600px;
  min-width: 200px;
  max-height: 650px;
  padding: 20px;
  margin: auto;
  position: fixed;
  right: 50px;
  bottom: 50px;
  background-color: #fbfcff;
  font-family: "Raleway", sans-serif;
  display: none;
  z-index: 3;
  overflow-y: scroll;
  overflow-x: hidden;
}
.revert-button {
  position: absolute;
  background-color: #8b0000;
  color: #fbfcff;
  border: none;
  border-radius: 4px;
  right: 1px;
}
.cartprice {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  float: right;
  color: black;
  margin: 55px 0px 0px 0px;
}

.total {
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px 0px 10px 30px;
  font-weight: bolder;
  font-size: 20px;
}
p {
  white-space: normal;
}
p.fat {
  margin: 20px 0px 10px 0;
  font-family: "RalewayBold", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
h2.slim {
  margin: 15px;
}
p.pricetag {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  position: absolute;
  right: 0;
  margin: 5px 10px 5px 0px;
}
.settingsbox {
  border-style: solid;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border-color: #1b203d;
  border-width: 0px;
  height: 277px;
}
.settingsbox ul {
  font-family: "RalewayLightBold", sans-serif;
  color: #1b203d;
  list-style-type: none;
  padding: 15px;
}
.settingsbox li {
  margin: 7px 0px;
  font-size: 18px;
}
.settingsbox li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.linebreak {
  border-top: #b1b1b1;
  border-width: 2px 0px 0px 0px;
  border-style: solid;
  margin: 60px 0px;
  opacity: 0.7;
}
.profilegrid {
  display: grid;
  grid-template-areas: "1 2 3";
  grid-template-columns: 0.9fr 1.5fr 0.9fr;
  width: 100%;
  grid-gap: 40px;
  height: auto;
}
.col1 {
  grid-area: 1;
  display: flex;
  flex-direction: column;
  height: auto;
}
.col2 {
  display: flex;
  flex-direction: column;
  height: auto;
  text-align: center;
}
.col3 {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}
.profile {
  padding: 10px;
  border-style: solid;
  border-color: #1b203d;
  border-radius: 8px;
  margin-top: 15px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
.profile img {
  float: left;
  border-radius: 90px;
  border-width: 3px;
  border-style: solid;
  margin-right: 5px;
}
/* SHOPPING CART */
.cart {
  border-style: solid;
  border-color: #1b203d;
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 70px;
  padding: 10px;
  text-align: center;
  white-space: nowrap;
  padding: 15px 30px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
.cartproduct {
  border-style: solid;
  border-color: #1b203d;
  border-radius: 8px;
  border-width: 2px;
  text-align: left;
  padding: 0px 5px;
  display: flex;
  flex-direction: row;
  position: relative;
  min-width: 240px;
}
.col2 i {
  font-size: 145px;
  color: #1b203d;
  margin: auto;
}
.cart i {
  font-size: 80px;
  color: #1b203d;
}
.checkout {
  font-family: "RalewayLightBold", sans-serif;
  font-size: 20px;
  background-color: #1b203d;
  color: #ffffff;
  border-radius: 7px;
  border-width: 2px;
  border-color: #1b203d;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  border-style: solid;
  padding: 7px 40px;
  margin-top: 50px;
  cursor: pointer;
}
/* CART-END */
/* RECENT HISTORY */
.wrap1 {
  border-top: #b1b1b1;
  border-width: 2px 0px 0px 0px;
  border-style: solid;
  min-width: 100%;
  margin: 15px 0px;
  position: relative;
}

.wrap1 p {
  font-family: "RalewayBold", sans-serif;
  margin: 13px 0px 15px 0px;
}

.wrap1 img {
  float: left;
  height: 125px;
  width: 94px;
}
.arialprice p {
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: 700;
  font-size: 25px;
  color: #4e4e4e;
  letter-spacing: -1px;
  width: 100%;
  text-decoration: line-through;
}
.arialprice p:hover {
  text-decoration: underline;
  cursor: pointer;
}
p.sold {
  color: #2cb848;
  text-transform: uppercase;
  font-family: "RalewayBold", sans-serif;
  display: block;
  font-size: 17px;
  text-decoration: line-through;
  margin-top: 25px;
}
.textwrap {
  position: absolute;
  left: 100px;
  bottom: 0;
}
@media only screen and (max-width: 1280px) {
  .profilegrid {
    display: grid;
    grid-template-areas: "1";
    grid-template-columns: 1fr;
    width: 100%;
    grid-gap: 40px;
    height: auto;
  }
  .col2 {
    grid-area: 3;
    width: 96%;
    margin: auto;
  }
  .col2 h1 {
    white-space: normal;
  }
  main {
    margin: 0% 0% 0% 0% !important;
  }
  .col3 {
    width: 96%;
    margin: auto;
  }
}

@media only screen and (max-width: 1400px) {
  .cart {
    max-width: 100px;
  }
  @media only screen and (max-width: 500px) {
    .cart-image {
      display: none;
    }
    .revert-button {
      top: 0px;
    }
    .cart {
      width: 50px;
      right: 10px;
      min-width: 170px;
    }
    .cartprice {
      display: none;
    }
    .cartheader {
      font-size: 20px;
    }
    .total {
      margin: 15px 0px 10px 25px;
    }
  }
}
